* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

/*nav bar (inside header by position:abs)*/

nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
}

.logo {
    padding:  20px 20px 20px 100px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 720px;
    padding: 54px;
}


nav ul a {
    color: white;
}

nav ul li .nav-btn {
    display: inline-block;
    border: 2px white solid;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    border: 2px solid white;
    border-radius: 288px;
    margin-top: -10px;

}

/*headr*/

header {
    width: 100%;
    height: 720px;
    background-image: url(/img/bg2.png),url(/img/bg.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .describe-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px;
    padding-right: 153px;
}
header .describe-page,
.nav-links2 a {
    color: white;
}

header .describe-page h1 {
    font-size: 49px;
}

header .describe-page h3 {
    opacity: .5;
    word-spacing: 13px;
}

header .nav-links2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

header .nav-links2 a {
    padding: 15px;
    display: inline-block;
    border-radius: 27px;
    width: 180px;
    text-align: center;
}

header .nav-links2-two {
    border: 2px solid white;
} 

header .nav-links2-one {
    background-color: #F5167E;
}


/*Search Box*/

.search-box {
    width: 80%;
    position: absolute;
    top: 650px;
    left: 10%;  
    height: 140px;
    background-color: #242565;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box div {
    padding: 30px;
}

.search-box div label {
    display: block;
    color: white;
    opacity: .7;
    margin-left: 1p3x;
    margin-bottom: 16px;
}

.search-box input,
.search-box select {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 26px;
    border-bottom: 1px #7778B0 solid;
}


/*events-head*/

main {
    height: 2831px;
    width: 100%;
}

main .event-head {
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 7% auto;
}

main .event-head h2 {
    color: #242565;
    font-size: 40px;
}

main .event-head  select {
    color: #0A075F;
    border: none;
    background-color: #F2F4FF;
    padding-right: 40px;
    border-radius: 35px;
}

main .event-head  .selections {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}


/*events-content*/

.grid-cards {
    height: 670px;
    display: grid;
    margin: 7% auto;
    grid-template-rows: auto auto;
    gap: 20px;    
    width: 80%;
}

.grid-cards .row-1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.grid-cards .row-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.grid-cards .row-1 .card-1,
.grid-cards .row-1 .card-2,
.grid-cards .row-1 .card-3,
.grid-cards .row-2 .card-4,
.grid-cards .row-2 .card-5 {
    height: 435px;
    border-radius: 25px;
}



.grid-cards .row-1 .card-1 img,
.grid-cards .row-1 .card-2 img,
.grid-cards .row-1 .card-3 img,
.grid-cards .row-2 .card-4 img,
.grid-cards .row-2 .card-5 img{
    width: 100%;
}

.grid-cards .concert-info {
    padding: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.grid-cards .concert-info .date-event p {
    color: #120daf;
    font-size: 10px;
    font-weight: bold;
    padding-left: 12px;
}

.grid-cards .concert-info .date-event h3 {
    font-size: 37px;
}

.grid-cards .concert-info .concert-place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.grid-cards .concert-info .concert-place h4 {
    font-size: 16px;
    word-spacing: 5px;
}

.grid-cards .concert-info .concert-place p {
    opacity: .5;
    word-spacing: 5px;
}

.grid-cards .card-1,
.grid-cards .card-2, 
.grid-cards .card-3,
.grid-cards .card-4,
.grid-cards .card-5 {
    box-shadow: 5px 5px 150px rgb(34 25 224/ 25%) ;
}

/*events-footer*/

.gotoevents {
    padding: 15px 25px 15px 25px;
    border: 2px solid #3D37F1;
    color: #3D37F1;
    border-radius: 35px;
    width: 20%;
    margin: 7% auto;
    text-align: center;
}

/*Make your own bevent*/

.own-event {
    height: 252px;
    width: 100%;
    margin: 4% auto;
    background-color: #EEE1FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.own-event .part-2 {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 30px;
    margin-bottom: 3%;
}

.own-event .part-2 h2 {
    font-size: 45px;
}

.own-event .part-2 a{
    padding: 10px 65px 10px ;
    background-color: #F5167E;
    width: 60%;
    text-align: center;
    color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 10px gray,-2px -2px 10px gray;
}

.own-event img {
    padding-bottom: 5%;
}


/*brands*/

.brands {
    width: 80%;
    margin: 3% auto;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.brands h3 {
    text-align: center;
    font-size: 30px;
    padding: 20px 10px;
    color: #242565;
}

.brands p {
    text-align: center;
    margin-bottom: 3%;
}

.grid-cards .brands .row-1 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.grid-cards .brands .row-2 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/*Blog-Grid*/

.blog-grid {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.blog-grid h2 {
    color: #0A075F;
    text-align: center;
    margin-bottom: 1%;
}

.blog-grid .describe-blog {
    text-align: center;
    opacity: .8;
}

.blog-grid .grid-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between; 
    gap: 10px;  
    margin-top: 2%;
}

.blog-grid .blog-content {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: space-between;
}

.blog-grid img {
    width: 100%;
}

.blog-grid .blog-content h5 {
    font-size: 19px;
    padding-top: 2%;
}

.blog-grid .blog-content h6 {
    font-size: 13px;
    padding-top: 2%;
    opacity: .7;
}

.blog-grid .blog-content .blog-date {
    font-size: 12px;
    opacity: .7;
}

/*blog footer*/

.blog-grid .gotoblog {
    padding: 15px 25px 15px 25px;
    border: 2px solid #3D37F1;
    color: #3D37F1;
    border-radius: 35px;
    width: 20%;
    text-align: center;
    margin: auto;
}

/*footer*/

footer {
    width: 100%;
    height: 430px;
    position: relative;
    bottom: 0;
    background-color: #0A075F;
    padding: 40px;
    display: grid;
    grid-template-rows: 1fr auto;
}

footer .copyright {
    text-align: center;
    color: #fff;
    border-top: 1px #4C4D8B solid;
    padding-top: 23px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    color: white;
    column-gap: 40px;
}

.footer-content p {
    opacity: .7;
}

.footer-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-content-2 {
     display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer-content-2 h2 {
    margin-bottom: 34px;
}

.footer-content-3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}


.footer-content-3 h2 {
    margin-top: 9px;
}

.footer-content-4 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.footer-content-4 .field-email input,
.footer-content-4 .field-email button{
    background-color: transparent;
    border: none;
}

.footer-content-4 .field-email  input {
    background-color: white;
    color: black;
    padding: 14px;
    padding-right: 182px;
    border-radius: 20px;
}
.footer-content-4 .field-email button {
    color: white;
    position: absolute;
    background-color: #F5167E;
    padding: 10px;
    border-radius: 20px;
    top: 218px;
    right: 63px;
}

.footer-content-4 .field-email input:focus {
    outline: none;
}

